<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontrola</title>
  </head>
  <body>
    <h1>Zadání čísla obalu</h1>
    <form method="POST">
      <div>
        <label >Číslo kontrolovaného obalu</label>
        <input type="text" name="LT"/>
      </div>
      <div>
        <label >Číslo následujícího obalu (pokud je na konci -> 0)</label>
        <input type="text" name="LT_end"/>
      </div>
      
      <button type="submit">Check</button>
    </form>
  
  </body>
</html>