<!--look of the About (HTML) - extension-->
<!------------------------------>

{% extends "base.html" %} {% block title %}About-Fanda3DPrint{% endblock %} {% block content
    %}
    <!--showing the notes-->
    <br>
    <h2 align="center">About</h2>
    <br>
    <h3>About Fanda3DPrint:</h3>
    <p>Hey,
    </br>my name is Fanda and I like to print!!
</br>
I've been printing for a couple months now. Choose what you want me to print for you and you'll have it delivered to your door in less than 3 days.
<br>We cooperate with the famous Prusa Research company based in Czech republic.
<br>
<br>In case of more difficult prints you'll be charged extra 100% of the standard price.
<br>
<br>
<b>We do not accept credit card payments.</b>
    </p>

</br>

<div align="center">
<a class="btn btn-primary" id="home" href="/">Let's create a new order</a>
</div>   
    {% endblock %}