<!--look of the Contacts (HTML) - extension-->
<!------------------------------>

{% extends "base.html" %} {% block title %}Contacts-Fanda3DPrint{% endblock %} {% block content
    %}
    <!--showing the notes-->
    <br>
    <h2 align="center">Contacts</h2>
</br>

    <h3>Phone number:</h3>
    <p>+420 601 111 222</p>
</br>

    <h3>Email:</h3>
    <a href="mailto:info@fanda3dprint.com">info@fanda3dprint.com</a>
</br>
</br>

    <h3>Social media:</h3>
    <a class="btn btn-secondary" href="https://www.facebook.com/" target="_blank">Facebook - Fanda3DPrint</a>
    <a class="btn btn-secondary" href="https://www.instagram.com/" target="_blank">Instagram - Fanda3DPrint</a>
    <a class="btn btn-secondary" href="https://www.printables.com/" target="_blank">Printables - Fanda3DPrint</a>
</br>
</br>

    <h3>Address:</h3>
    <p>Prague 1234</p>
</br>
</br>

    <div align="center">
    <a class="btn btn-primary" id="home" href="/">Let's create a new order</a>
    </div>

    {% endblock %}